@model KCArcades.Models.ArcadeReportViewModel

@{
    ViewBag.Title = "Report";
}

<h2>情報提供フォーム</h2>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        <h4>艦これAC設置店</h4>

        <div class="form-group">
            <label class="control-label col-md-2" for="Latitude">店舗名</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TargetName)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Latitude">住所</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TargetAddress)
            </div>
        </div>
        

        <hr />

        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfMachines, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NumberOfMachines,
                   (IEnumerable<SelectListItem>)new SelectList(Enumerable.Range(1, 30).ToList()),
                   " 選択してください ",
                   new { @class = "title_list" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GPLimitation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GPLimitation,
                   (IEnumerable<SelectListItem>)ViewBag.GPLimitationList,
                   " 選択してください ",
                   new { @class = "title_list" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdditionalInfo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdditionalInfo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdditionalInfo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送信" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("地図に戻る", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
